<style>
    body {
        height: 95%;
        background-image: url('/images/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .maincontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20PX;

    }

    .root {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100pxpx;
        height: auto;
        padding: 10px;

    }

    .heading {
        color: #d8d7e3;
        font-size: 32px;
        font-weight: bold;
        font-family: Oxygen;

        padding: 5px;
    }

    button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }
</style>


<html>

<head>
    <title>Flight Enquiry</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    <div class="maincontainer">
        <div class="root">
            <div class="heading">
                Flight Enquiry System
            </div>

            <div class="row">
                <div class="col s12">
                    <button style="font-size: large;font-weight: 500;letter-spacing: 0.5px;">Get Start</button>
                </div>
            </div>



        </div>
    </div>

</body>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>